.options a {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background: rgb(0, 89, 178);
    color: #fff;
    text-decoration: none;
  }

  .header_part {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img {
    margin-top: 10px;
  }
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 10px;
  }

  @media(max-width: 768px) {
    .options a {
      font-size: 14px;
      padding: 5px;
      margin: 10px;
    }
  }